@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
@import 'tailwindcss';
@import './shared/utils/tailwindStyles/utilStyles.css';
@import './shared/utils/tailwindStyles/modalStyles.css';

@theme {
    --color-background: #161618;
    --color-card: #323234;
    --color-input: #1f1f21;
    --color-stroke: #52525b;
    --color-pri-text: #ffffff;
    --color-sec-text: #a3a2a5;
    --color-gray-selected: #3f3f4a;

    --color-cus-green: #6ab02f;
    --color-cus-red: #e83a3a;
    --color-cus-blue: #3a76d2;
    --color-cus-yellow: #e4b639;
    --color-cus-pink: #e881c2;
    --color-cus-orange: #ffa500;
}

@layer base {
    /* Font Family */
    * {
        font-family: 'Inter', sans-serif;
    }

    /* Custom Scrollbar */
    *::-webkit-scrollbar {
        display: none;
    }

    /* Number Scroll */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type='number'] {
        appearance: textfield;
    }

    /* Eye Color */
    input::-ms-reveal,
    input::-webkit-credentials-auto-fill-button {
        display: none !important;
    }

    /* Body Titles */
    body {
        @apply text-white;
        font-family: 'Inter', sans-serif;
    }
}
